*{
    padding:0;
     margin:0; 
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    border:1px solid;
    height:55px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #00000094;
    padding:0 30px;
}
body{
    background-color:#000;
}
ul{
    display:flex;
    list-style:none;
}
.navbar ul li a{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-right:50px;
    text-decoration: none;
    font-size:19px;
    color:#fff;
}
.navbar h1{
    color:#ff00aa;
    padding:25px;
    font-size: 35px;
}
.navbar ul li a:hover{
    text-decoration:underline;
    color:#ff00aa
}
.home{
    border:1px solid;
    margin-top:170px;
    margin-left:190px;
}
.home h1{
    padding:15px;
    width:660px;
    font-size:50px;
    color:#fff;
}
.home span{
    color:#ff00aa;
}
.home p{
    color:#fff;
    padding-top:10px;
    margin-left:15px;
    width:400px;    
}
.home button{
    background-color: #ff00aa;
    color:#fff;
    padding:15px;
    width:150px;
    border:none;
    margin-left:20px;
    font-size:19px;
}
/* 
.img{
   position:fixed;
   float:right;
   margin-left:600px;
    
}*/
/* .img img{ 
    width:500px;
    height:500px;
    position:relative;
    top:40px;
    margin-right:25px;
    margin-bottom:300px;
}*/

.about{
    display:flex;
    align-items: center;
    justify-content: center;
    width:800px;
    margin:250px;
    margin-left:200px;
}
.img{
    display:flex;
    align-items: center;
    justify-content: center;
}
.img img{
    width:480px;
    height:480px;
    margin:50px;
}
.subtitle{
    border:1px solid;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subtitle h1{
    color:#ff00aa;
    margin:10px;
    font-size: 30px;
    padding:5px;
}
.subtitle p{
    color:#fff;
    font-size:25px;
    width:350px;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
}
.subtitle span{
    color: #ff00aa;
}
.subtitle .I-am{
    font-size: 30px;
}
.portofolio{
    display:flex;
    align-items: center;
    justify-content: center;
}
.img-porto h1{
    text-align: center;
    color: #ff00aa;
    margin:50px;
}
.portofolio .img-porto{
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
}
.img-porto img{
    height:350px;
    width: 350px;
    margin:20px;
}
.img-porto img:hover{
    transform: scale(1.1);
}

.contact{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    margin-bottom:40px;
    width:800px;
    height:750px;
}
.contact h1{
    color: #fff;
    font-size:30px;
}
.contact p{
    width:380px;
    color: #fff;
    margin:20px;
}
.contact-us{
    background-color: #3d3a3c;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    width:400px;
    height:400px;
}
.contact-us .type{
    padding:7px;
    margin:10px;
    border:none;
    color:#fff;
    background-color: #3d3a3c;
}
.contact-us .email{
    padding:10px;
    border:none;
    color:#fff;
    background-color: #3d3a3c;
}
.contact .text{
    width:300px;
    padding:10px;
    border: none;
    margin:10px;
    background-color: #3d3a3c;
    color:#fff;
}
.contact .message{
    height:100px;
    color:#fff;
    width:250px;
    border:none;
    background-color: #3d3a3c
}
.contact button{
    margin:15px;
    font-size: 20px;
    padding:10px;
    width:300px;
    border:none;
    background-color: #000000;
    color:#fff;
}